@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#eef4fb;

}

header{

background:#0b5fa5;

color:white;

padding:18px 60px;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:28px;

font-weight:bold;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

}

.container{

width:95%;

max-width:1200px;

margin:40px auto;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

h1{

text-align:center;

color:#0b5fa5;

margin-bottom:25px;

}

table{

width:100%;

border-collapse:collapse;

}

table th{

background:#0b5fa5;

color:white;

padding:15px;

}

table td{

padding:14px;

text-align:center;

border-bottom:1px solid #ddd;

}

table tr:hover{

background:#f5f9ff;

}