@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#F4F7FE;
    color:#1E293B;
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

button{
    font-family:'Poppins',sans-serif;
    cursor:pointer;
}

input{
    font-family:'Poppins',sans-serif;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#F1F5F9;
}

::-webkit-scrollbar-thumb{
    background:#94A3B8;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#64748B;
}