.layout{

    display:flex;

    min-height:100vh;

    background:#F4F7FE;

}

.mainContainer{

    flex:1;

    margin-left:280px;

    transition:.3s;

}

.pageContainer{

    padding:30px;

    min-height:calc(100vh - 90px);

}

@media(max-width:992px){

.mainContainer{

margin-left:90px;

}

}

@media(max-width:768px){

.mainContainer{

margin-left:0;

}

.pageContainer{

padding:20px;

}

}